.inspector {
	flex-grow: 1;
	display: flex;
	flex-flow: column;
}

.inspector h2 {
	flex-flow: 1;
	padding: 12px;
	background-color: var(--background-lighter-1);
	font-family: var(--font-family);
	color: var(--color);
	font-size: 16px;
	font-weight: normal;
}

.inspector .row {
	width: calc(100% - 24px);
	display: flex;
	flex-flow: row;
	margin-left: 12px;
	margin-right: 12px;
}

.inspector .node-icon {
	color: var(--accent);
	font-size: 24px;
}

.inspector .node-name {
	flex-grow: 1;
	font-size: 16px;
	background: none;
}

.inspector .node-name:focus {
	background-color: var(--background-lighter-2);
}

.inspector .property {
	width: calc(100% - 24px);
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.inspector .property-name {
	display: inline-block;
	width: calc(50% - 12px);
	margin: 0;
	padding: 0;
	height: 28px;
	line-height: 28px;
	font-family: var(--font-family);
	color: var(--color-subtle);
	font-size: 16px;
}

.inspector .property-value {
	display: inline-block;
	width: 50%;
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	color: var(--color);
	font-size: 12px;
}

.inspector .property-value input {
	width: 100%;
}

.inspector .property-value input[type=number] {
	text-align: right;
}